@charset "utf-8";

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


#google {background-color:grey;}
#google:hover{color:black;}

footer {background-color:black;
color:white;
text-align: center;}

.space{background-color: aqua;
background-size: auto;
text-align: center;
font-family: 'Roboto Mono', monospace;
margin-bottom:300px;
z-index: 4;}

.l{background-color: aqua;
background-size: auto;
text-align: center;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

div{z-index: -1;}

#black:hover {
  color: black;
}


#abc{background-color: chartreuse;
color:black;
text-align:center;
font-family: 'Ranchers', cursive;}

#navbar {
  overflow: auto;
  background-color: #333;
  position: fixed;
  bottom: 0;
	width: 100%;
}

#date {
	background-color: pink;
	text-align:center;
}

body { 
    padding-bottom: 400px; 
}

.randomp {background-color: red;
text-align: center;
}

#light{background-color:brown;
text-align: center;
color: white;
}

#bulb,#bulbon,#bulboff {
	width:130px;
}
/*end first page /*